/* HEADER CSS */

.header {
  --font-size: 1.3em;
  --height-header: 75px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  height: var(--height-header);
  width: 100%;
  padding-top: 2em;

  /* background: var(--base-color); */
  background-color: #4c4a95;
}

.header__logo {
  height: var(--height-header);
}

.header__navbar {
  list-style: none;
  display: flex;

  padding: 0;
  margin: 0;
}

.header__navbar-item {
  margin-left: 10px;
}

.header__navbar-link {
  text-decoration: none;
  font-size: var(--font-size);
  font-weight: bold;

  color: var(--contrast-color);
  &:hover {
    color: white;
  }
}

.header__title {
  font-size: 1.2em;
  color: white;
}

.header__user {
  text-decoration: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: bold;
  font-size: large;
  color: var(--contrast-color);

  &:hover {
    color: white;
  }
}

.header__avatar {
  width: 43px;
  height: 42px;
}

.header__username {
  font-size: var(--font-size);
  margin: 0%;
}
