
/* TARJETAS */

.grid-card {
  max-width: fit-content;
  display: flex;
  justify-content: space-between; 
}

.fondo{
  margin: 0px;
  padding: 0px;
  background-color: #fbfafb;
}


.slide-xapp{
  display: flex;
  padding-left: 10px;
  justify-content: center;
}

.test{
  display: flex;
  color: rgb(203, 41, 154);
  font-size: x-large;
  text-align: center;
  justify-content: center;
}

.fondo{
  margin: 0px;
  padding: 0px;
  background-color: #fbfafb;
}