/* HEADER CSS */

.Navigation {
  --font-size: 1.3em;
  --height-header: 75px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  height: var(--height-header);
  width: 100%;
  padding-top: 2em;

  background: var(--base-color);
}

/* Logo */
.logo {
  height: 70px;
}

/* xApp */
.Title {
  font-size: 3.2em;
  color: white;
}

/* Navbar */

/* Inicio de Seción */
.login {
  text-decoration: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: bold;
  font-size: large;
  color: var(--contrast-color);

  &:hover {
    color: white;
  }
}

.text-login {
  font-size: var(--font-size);
  margin: 0%;
}

.font-empresa{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
  font-style: italic;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #fbfafb;
}