.card-container {
  width: 250px;
  height: 350px;
  background: rgba(255, 255, 255, 0.15);
  margin: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.534);
  border-radius: 15px;
  flex-direction: column;
  backdrop-filter: blur(10px);
  transition: 0, 5s;
}
.card-container:hover {
  transform: translateY(-20px);
  transition: 0.4s;
}

li {
  list-style: none;
}

/* Estilos de cada tarjeta */

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
  transition: 0, 5s;
}
.li {
  list-style: none;
}

.imgs {
  margin: 10px 10px;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
