.preferences {
  --border-width: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  border: solid var(--border-width) var(--base-color);
  border-radius: 40px;
  margin: 30px;
  padding: 30px;
  font-size: 1.3em;
}

.preferences__message {
  color: gray;
}

.preferences__message--error {
  cursor: pointer;
  border: solid 3px #ff0000;
  border-radius: 40px;
  padding: 1em;
  color: var(--base-color);
  background-color: var(--accent-color-contrast);
}

.preferences__logout-button {
  background-color: #ff0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: #cc0000; /* Cambia el color de fondo al pasar el ratón sobre el botón */
  }

  &:active {
    background-color: #aa0000; /* Cambia el color de fondo cuando se hace clic en el botón */
  }
}
