/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --base-color: #4c4a95;
  --contrast-color: #c0c3ff;
  --accent-color: #ff9804;
  --accent-color-contrast: #ffead0;
  --background-color: white;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #fbfafb;
}


 */