/* Estilo para la tabla */
.detail-ticket {
  font-family: Arial, sans-serif;
  width: 100%;
  border-collapse: collapse;
}

/* Estilo para las filas */
.detail-ticket__row {
  background-color: var(--contrast-color);
}

.detail-ticket__row--contrast {
  background-color: var(--accent-color-contrast);
}
/* Estilo para las celdas de encabezado */
.detail-ticket__header-cell {
  background-color: var(--base-color);
  color: white;
  text-align: left;
  padding: 10px;
}

/* Estilo para las celdas de datos */
.detail-ticket__data-cell {
  text-align: left;
  padding: 5px;
}

/* Estilo para la fila del total */
.detail-ticket__total-row {
  background-color: var(--accent-color);
  font-weight: bold;
}
