#root {
  text-align: center;
}


header {
  max-height: 80px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 20px;
  background: #4c4a95;
  margin-bottom: 120px;
}
