header {
  padding: 50px;
}

.main-container {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(218, 215, 215); */
  /* background: rgba(255, 255, 255, 0.2); */
}

/* header {
  padding: 0px;
} */

.logo {
  height: 150px;
  width: auto;
}