.cookieCard {
  width: 300px;
  height: 350px;
  background: rgb(235, 191, 111);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin: 2em;
}

.cookieCard::before {
  width: 150px;
  height: 250px;
  content: '';
  background: #f6931e;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  right: -25%;
  top: -25%;
}

.cookieHeading {
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(8, 8, 8);
  z-index: 2;
}

.cookieDescription {
  font-size: 0.9em;
  color: rgb(13, 13, 13);
  z-index: 2;
}

.cookieDescription a {
  color: rgb(15, 15, 15);
}

.editButton {
  background-color: #4d4a95;
  transition-duration: 0.2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  z-index: 2;
}

.deleButton {
  padding: 11px 20px;
  background-color: #f0f0f5;
  color: #f6931e;
  transition-duration: 0.2s;
  border: none;
  cursor: pointer;
  font-weight: 600;
  z-index: 2;
}

.editButton:hover {
  background-color: #706cd7;
  transition-duration: 0.2s;
}

.deleButton:hover {
  background-color: #f6931e;
  color: rgb(241, 241, 241);
  transition-duration: 0.2s;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
}

.card-image {
  width: 70%;
  object-fit: cover;
}
