
.editButton {
  background-color: #4d4a95;
  transition-duration: 0.2s;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
  font-weight: 600;
  z-index: 2;
}

.deleButton {
  padding: 11px 20px;
  background-color: #f0f0f5;
  color: #f6931e;
  transition-duration: 0.2s;
  border: none;
  cursor: pointer;
  font-weight: 600;
  z-index: 2;
}

.editButton:hover {
  background-color: #706cd7;
  transition-duration: 0.2s;
}

.deleButton:hover {
  background-color: #f6931e;
  color: rgb(241, 241, 241);
  transition-duration: 0.2s;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-image {

  height: 140px;
  object-fit: cover;
}

.precio-prod{
  padding-top: 7px;
  display: flex;
  font-style: italic;
  text-decoration: underline;
}